<!-- Date -->
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<span class="post-meta">{{ post.date | date: date_format }} - </span>

<!-- Title -->
<span>
  <a class="post-link" href="{{ post.url | relative_url }}">
    {{ post.title | escape }}
  </a>
</span>

<!-- Optional tag -->
{%- if include.show_tag -%}
  <span class="post-meta">[{{ post.tag }}]</span>
{%- endif -%}

<!-- Excerpt -->
{%- if site.show_excerpts -%}
<p class="post-excerpt">
  {{ post.excerpt | strip_html  | truncatewords: 50}}
</p>
{%- endif -%}
