<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <p class="rss-subscribe">
    <a href="{{ "/feed.xml" | relative_url }}">
        <svg class="svg-icon orange">
            <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
        </svg><span>Subscribe to our website via RSS</span>
    </a>
    </p>

    <span class="footer-copyright">Copyright &copy; 2019-{{ "now" | date: "%Y" }} {{ site.author }}</span>

  </div>

</footer>
