<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="_GpLVigYi4HPSFLRxD05Q9huPPu1Ehe4MwUuB-_H4Jw" />
  <title>{{ site.title | append: " | " | append: site.description | escape }}</title>

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  {%- feed_meta -%}

  <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  }
});
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics }}');
      /* Cookieless experience */
      gtag('consent', 'default', {
          ad_storage: 'denied',
          analytics_storage: 'denied',
          functionality_storage: 'denied',
          personalization_storage: 'denied',
          security_storage: 'denied'
      });
  </script>
  {% endif %}
</head>
