---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
        {%- if post.tags contains page.tag -%}
        <li>
          {% include entry.html %}
        </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
    {%- endif -%}

  </div>

</article>
