---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {% endif %}
    <ul class="post-list">
      {%- for post in site.posts limit:5 -%}
      <li>
          {% include entry.html show_tag=true %}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
